@use 'sass:color'
@use 'colors'
@use 'ease'

#menu-filter
    position: absolute
    inset: 0
    background: #000000EE


@keyframes menu__fade-in
    from
        transform: scale(0.1)
        opacity: 0

#menu
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    row-gap: 3rem
    height: 100vh
    animation: menu__fade-in 400ms ease.$ease-bouncy forwards
    padding-inline: clamp(3lvw, 12rem, 10lvw)
    padding-block: 8rem
    filter: drop-shadow(0 0 5rem #00000033)
