@use 'colors'

#row-completed
    width: 100%
    height: 100lvh
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column

#row-completed-medal
    width: 70%
    animation: medal-drop 300ms, medal-ambience 2s 4 300ms alternate ease-in-out, medal-removal 400ms 8600ms ease-in-out forwards

@keyframes medal-drop
    from
        transform: translateY(-100%)
    40%
        transform: translateY(0) skewX(5deg)
    60%
        transform: translateY(-5%) skewX(-3deg)
    to
        transform: translateY(0)

@keyframes medal-ambience
    from
        transform: translateY(0)
    to
        transform: translateY(-2.5%) scale(1.03)

@keyframes medal-removal
    from
        transform: translateY(0)
    to
        transform: translateX(40%) translateY(-200%) skew(-40deg)

#row-completed-text-container
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    margin-bottom: 4rem
    opacity: 0
    animation: row-completed-text-fade-in 1000ms 1000ms ease-in-out forwards, row-completed-text-fade-out 1000ms 7600ms forwards

@keyframes row-completed-text-fade-in
    from
        opacity: 0
        margin-bottom: 0

    to
        opacity: 1
        margin-bottom: 4rem

@keyframes row-completed-text-fade-out
    from
        opacity: 1
    to
        opacity: 0

#row-completed-title
    font-weight: 500
    font-size: 1.6rem

#row-completed-subtitle
    font-weight: 0
    opacity: 0.7

#row-completed[data-alphabet="hiragana"] .row-completed-medal-ruby
    fill: colors.$sakura

#row-completed[data-alphabet="katakana"] .row-completed-medal-ruby
    fill: colors.$turquoise

.row-completed-medal-ruby, .row-completed-medal-gold
    stroke-width: 0px

.row-completed-medal-gold
    fill: url(#golden-gradient)
